ARANGODB_CONNECTION_URL=arangodb@root:admin123@http://131.153.202.197:8549/ # your-own-url
ARANGODB_DATABASE=knowledge_graph # your-own-db-name

MONGODB_CONNECTION_URL=mongodb://131.153.202.197:28017  # your-own-url
MONGODB_DATABASE=knowledge_graph  # your-own-db-name

MONGODB_ENTITY_CONNECTION_URL=mongodb://klgReader:klgReaderEntity_910@178.128.85.210:27017,104.248.148.66:27017,103.253.146.224:27017/  # your-own-url
MONGODB_ENTITY_DATABASE=knowledge_graph  # your-own-db-name

CASSANDRA_HOST=167.172.94.254
CASSANDRA_PORT=9042
CASSANDRA_USER=all_etl_reader
CASSANDRA_PASSWORD=etl_reader_block_chain341

HF_API_KEY=your-own-huggingface-api-key